.companies-trust {
    .companies-logo{
        width: 250px;
        margin: 0 20px;
    }

    .companies-summary {
        max-width: 600px;
        color: #6f6c6c;
        margin-bottom: 0;
    }

    .bg-text{
        background: rgb(255 255 255 / 45%);
        padding: 10px;
        margin-bottom: 40px;
    }

    .row-display {
        display: flex;
        align-items: flex-start;

        @media (max-width: 767px) {
            display: block;
            text-align: center;

            div {
                padding: 10px 0;
            }
            p {
                padding-top: 10px;
            }
        }

       
    }

    .team-working{
        background: url("/assets/images/team_working.png");
        margin-top: -100px;
        height: 450px;
    }
}