.companies-trust {
    .companies-logo{
        width: 200px;
        margin: 10px 0;
        background: #0F2042;
    }

    .bg-text{
        background: rgb(255 255 255 / 45%);
        padding: 10px;
        margin-bottom: 40px;
    }

    .team-working{
        background: url("/assets/images/team_working.png");
        margin-top: -100px;
        height: 450px;
    }
}